html {
    color: #0c0c0d;
    font: message-box;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.container {
    margin: 0 auto;
    max-width: 800px;
}

.logo {
    margin: 64px 0;
}


.fieldpair {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

.fieldpair label {
    font-size: 14px;
    font-weight: 500;
}

.form-footer {
    padding: 24px 0;
    text-align: right;
}

input:is([type="email"], [type="text"], [type="password"], [type="url"], [type="number"]) {
    border: 1px solid rgb(21, 20, 26);
    border-radius: 4px;
    padding: 8px;
    width: 400px
}

input:is([type="email"], [type="text"], [type="password"], [type="url"], [type="number"]):invalid {
    border-color: transparent;
    outline: 2px solid #ff0039;
    outline-offset: -1px;
}

input[type="number"] {
    -webkit-appearance: textfield;
}

button {
    background: rgba(207, 207, 216, 0.33);
    margin: 0;
    height: 32px;
    padding: 0 20px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 16px;
}

button:hover {
    background: rgba(207, 207, 216, 0.66);
}

button[disabled] {
    background: rgba(207, 207, 216, 0.33) !important; 
    color: #737373;
    pointer-events: none;
}