<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="/Users/">
        <classes>
<!--            <class name="tests.VerifyTest"/>-->
<!--            <class name="tests.RegisterTest"/>-->
<!--            <class name="tests.WelcomeTest"/>-->
<!--            <class name="tests.RecoveryTest"/>-->
<!--            <class name="tests.LoginTest"/>-->
<!--            <class name="tests.ForgotTest"/>-->
<!--            <class name="tests.RecoveryMethodTest"/>-->
<!--            <class name="tests.ResetTest"/>-->
<!--            <class name="tests.RestoreTest"/>-->
<!--            <class name="tests.ConfirmTest"/>-->
<!--            <class name="tests.CookiesPolicyTest"/>-->
<!--            <class name="tests.GtcTest"/>-->
<!--            <class name="tests.DashBoardTest"/>-->
<!--            <class name="tests.ProfileTest"/>-->
<!--            <class name="tests.RecoveryAlternateMethodTest"/>-->
<!--            <class name="tests.SubscriptionsTest"/>-->
<!--            <class name="tests.ProductsTest"/>-->
            <class name="tests.EmailStandardTest"/>
        </classes>

    </test>
</suite>