<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="/Users/">
        <classes>
            <class name="tests.SummaryTest"/>
            <class name="tests.NotFound404PageTest"/>
            <class name="tests.footer.VerifyTest"/>
            <class name="tests.footer.BlockedTest"/>
            <class name="tests.footer.UserNotFoundTest"/>
            <class name="tests.footer.RegisterTest"/>
            <class name="tests.footer.WelcomeTest"/>
            <class name="tests.footer.RecoveryTest"/>
            <class name="tests.footer.LoginTest"/>
            <class name="tests.footer.ForgotTest"/>
            <class name="tests.footer.RecoveryMethodTest"/>
            <class name="tests.footer.ConfirmTest"/>
            <class name="tests.footer.ResetTest"/>
            <class name="tests.footer.RestoreTest"/>
            <class name="tests.CookiesPolicyTest"/>
            <class name="tests.GtcTest"/>
            <class name="tests.sidebar.DashBoardTest"/>
            <class name="tests.sidebar.ProfileTest"/>
            <class name="tests.RecoveryAlternateMethodTest"/>
            <class name="tests.sidebar.SidebarTest"/>
            <class name="tests.sidebar.SubscriptionsTest"/>
            <class name="tests.sidebar.ProductsTest"/>
            <class name="tests.sidebar.EmailStandardTest"/>
            <class name="tests.sidebar.EmailPremiumTest"/>
            <class name="tests.sidebar.VpnStandardTest"/>
            <class name="tests.sidebar.PlatinumTest"/>
            <class name="tests.sidebar.EmailStandardBuyTest"/>
            <class name="tests.sidebar.EmailPremiumBuyTest"/>
            <class name="tests.sidebar.VpnStandardBuyTest"/>
            <class name="tests.sidebar.PlatinumBuyTest"/>
            <class name="tests.sidebar.EmailStandardPlanidTest"/>
            <class name="tests.sidebar.EmailPremiumPlanidTest"/>
            <class name="tests.sidebar.VpnStandardPlanidTest"/>
            <class name="tests.sidebar.PlatinumPlanidTest"/>
            <class name="tests.sidebar.CardMethodTest"/>
            <class name="tests.sidebar.SubscriptionPurchaseTest"/>
            <class name="tests.sidebar.PaymentsTest"/>
            <class name="tests.sidebar.YourSubscriptionsTest"/>
            <class name="tests.sidebar.DeleteAccountTest"/>
        </classes>
    </test>
</suite>